.photo-grid {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(4, minmax(min-content, max-content));
  grid-template-rows: repeat(3, minmax(min-content, max-content));
  max-width: 1184px;
  padding: 92px 48px 0 48px;
  justify-items: center;
  justify-content: center;
  margin: 0;
  transition: all 0.5s linear;
}

@media (max-width: 1279px) {
  .photo-grid {
    gap: 14px;
    grid-template-columns: repeat(3, minmax(min-content, max-content));
    padding: 92px 48px 0 48px;
  }
}

@media (max-width: 1023px) {
  .photo-grid {
    gap: 16px;
    grid-template-columns: repeat(2, minmax(min-content, max-content));
    padding: 88px 24px 0 24px;
  }
}

@media (max-width: 767px) {
  .photo-grid {
    gap: 12px;
    grid-template-columns: repeat(1, minmax(min-content, max-content));
    padding: 64px 16px 0 16px;
  }
}