.cover__subtitle {
  padding: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  align-self: flex-start;
  padding-top: 32px;
  max-width: 360px;
  margin: 0 auto;
  padding-bottom: 245px;
  transition: all 0.5s linear;
}

@media (max-width: 1279px) {
  .cover__subtitle {
    padding-bottom: 195px;
  }
}

@media (max-width: 1023px) {
  .cover__subtitle {
    padding-bottom: 115px;
  }
}

@media (max-width: 767px) {
  .cover__subtitle {
    padding-bottom: 33px;
    padding-top: 16px;
    font-size: 14px;
    line-height: 16px;
  }
}