.header__link {
  color: #FFFFFF;
  text-decoration: none;
  height: 28px;
  width: 30px;
  font-style: normal;
  font-weight: 400;
}

.header__link:hover {
  opacity: 0.3;
}

@media (max-width: 767px){
  .header__link {
    height: 20px;
    width: 22px;
  }
}