.footer__copyright {
  padding: 0;
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
  color: #FFFFFF;
  transition: all 0.5s linear;
}

@media (max-width: 767px) {
  .footer__copyright {
    text-align: left;
    line-height: 14px;
  }
}